disable_mlock = true

hcp_boundary_cluster_id = "${hcp_boundary_cluster_id}"

listener "tcp" {
  address = "127.0.0.1:9202"
  purpose = "proxy"
}

worker {
  auth_storage_path = "/boundary/auth"
  controller_generated_activation_token = "${controller_activation_token}"
  tags {
    type = ["worker", "dev"]
  }
}